
body {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #eeedef;
}


#canvasOutput {
  border-radius: 20px;
  background: linear-gradient(145deg, #c6303e, #eb394a);
  box-shadow: 25px 25px 50px #96242f,
    -25px -25px 50px #ff465b;
  margin-inline-start: 40%;
}

.row{
    display: flex;
    justify-content: center;
}